{{ define "main" }}

<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-window-top mkdf-preload-background mkdf-has-bg-image mkdf-bg-parallax"
    style="height: 650px;background-color: #f5f5f5;background-image:url({{ .Params.banner_image | relURL }});"
    data-height="650">
    <div class="mkdf-title-image">
        <img itemprop="image" src="{{ .Params.banner_image | relURL }}" alt="Image Alt" />
    </div>
    <div class="mkdf-title-wrapper">
        <div class="mkdf-title-inner">
            <div class="mkdf-grid">
                <h6 class="mkdf-page-subtitle">Our Trailers</h6>
                <h1 class="mkdf-page-title entry-title" style="color: #ffffff">{{ .Title }}</h1>
            </div>
        </div>
    </div>
</div>


<div class="mkdf-container mkdf-default-page-template">

    <div class="mkdf-container-inner clearfix">
        <div class="mkdf-grid-row ">
            <div class="mkdf-page-content-holder mkdf-grid-col-12">
                <div class="mkdf-row-grid-section-wrapper ">
                    <div class="mkdf-row-grid-section">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1620201573898 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="mkdf-row-grid-section-wrapper ">
                                            <div class="mkdf-row-grid-section">
                                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                    <div class="wpb_column vc_column_container vc_col-sm-2">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper"></div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="wpb_column vc_column_container vc_col-sm-8">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper">
                                                                <div class="mkdf-section-title-holder  mkdf-st-split  mkdf-has-appear-animation">
                                                                    <div class="mkdf-st-inner">
                                                                        <span class="mkdf-st-tagline">
                                                                            Our Trailers </span>
                                                                        <h2 class="mkdf-st-title">
                                                                            <span class="mkdf-sts-title-text">{{ .Title }}</span>
                                                                            <span class="mkdf-sts-separator"></span>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                                <div class="wpb_text_column wpb_content_element vc_custom_1622017566428">
                                                                    <div class="wpb_wrapper">
                                                                        {{ .Content }}
                                                                        {{ range .Params.sizes}}
                                                                        <h5 style="text-align: center;">{{.}}</h5>
                                                                        {{ end}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="wpb_column vc_column_container vc_col-sm-2">
                                                        <div class="vc_column-inner">
                                                            <div class="wpb_wrapper"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mkdf-row-grid-section-wrapper ">
                    <div class="mkdf-row-grid-section">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1622018181007">
                                    <div class="wpb_wrapper">
                                        <div class="mkdf-pricing-tables mkdf-grid-list mkdf-disable-bottom-space clearfix mkdf-three-columns mkdf-normal-space">
                                            <div class="mkdf-pt-wrapper mkdf-outer-space">
                                                {{ with .Params.specs }}
                                                    {{ range . }}
                                                    <div class="mkdf-price-table mkdf-item-space">
                                                        <div class="mkdf-pt-inner">
                                                            <ul>
                                                                <li class="mkdf-pt-title-holder">
                                                                    <span class="mkdf-pt-tagline"></span>
                                                                    <span class="mkdf-pt-title">{{ .category }}</span>
                                                                </li>
                                                                <li class="mkdf-pt-content">
                                                                    <ul>
                                                                        {{ range .items }}
                                                                        <li> 
                                                                            <span class="mkdf-icon-shortcode mkdf-normal   ">
                                                                                <span class="mkdf-icon-font-elegant icon_check mkdf-icon-element"
                                                                                    style="color: #ed1d24"></span>
                                                                            </span>
                                                                            {{ . }}</li>
                                                                        {{ end}}
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                {{ end}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mkdf-row-grid-section-wrapper ">
                    <div class="mkdf-row-grid-section">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div
                                            class="mkdf-image-gallery mkdf-grid-list mkdf-disable-bottom-space  mkdf-ig-grid-type mkdf-three-columns mkdf-normal-space  mkdf-image-behavior-lightbox ">
                                            <div class="mkdf-ig-inner mkdf-outer-space">
                                                {{ range .Params.gallery }}
                                                    <div class="mkdf-ig-image mkdf-item-space">
                                                        <div class="mkdf-ig-image-inner">
                                                            <a itemprop="image" class="mkdf-ig-lightbox"
                                                                href="{{ . | relURL }}">
                                                                <img fetchpriority="high"
                                                                    decoding="async" width="800"
                                                                    height="600"
                                                                    src="{{ . | relURL }}"
                                                                    class="attachment-full size-full"
                                                                    alt=""
                                                                    sizes="(max-width: 800px) 100vw, 800px" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{ end}}