{{ $color := .color | default "#6f2e2e" }}
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<div class="mkdf-iwt clearfix  mkdf-iwt-icon-left mkdf-iwt-icon-tiny mkdf-has-appear-animation">
        <div class="mkdf-iwt-icon">
            <span class="mkdf-icon-shortcode mkdf-normal mkdf-icon-tiny" data-color="{{ $color }}">
                <span aria-hidden="true" class="mkdf-icon-font-elegant mkdf-icon-element icon_clock_alt" style="color: {{ $color }}"></span></span>
        </div>
        <div class="mkdf-iwt-content" style="padding-left: 16px">
            <p class="mkdf-iwt-text" style="margin-top: 0px">
                <div class="mkdf-icon-text " style="color: #808080">Monday-Saturday: 9am to 5pm;</div> 
                <div class="mkdf-icon-text mkdf-no-icon" style="color: #808080">Sunday : Holiday</div>
            </p>
        </div>
</div>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<div class="mkdf-iwt clearfix  mkdf-iwt-icon-left mkdf-iwt-icon-tiny mkdf-has-appear-animation">
    <div class="mkdf-iwt-icon">
        <span class="mkdf-icon-shortcode mkdf-normal mkdf-icon-tiny" data-color="{{ $color }}">
            <span aria-hidden="true" class="mkdf-icon-font-elegant icon_pin_alt mkdf-icon-element"
                style="color: {{ $color }}"></span> </span>
    </div>
    <div class="mkdf-iwt-content" style="padding-left: 16px">
        <p class="mkdf-iwt-text" style="margin-top: 0px">Food Trailer Online, New Zealand.</p>
    </div>
</div>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<div class="mkdf-iwt clearfix  mkdf-iwt-icon-left mkdf-iwt-icon-tiny mkdf-has-appear-animation">
    <a itemprop="url" href="tel:+64 22 539 1515" target="_self">
        <div class="mkdf-iwt-icon">
            <span class="mkdf-icon-shortcode mkdf-normal mkdf-icon-tiny" data-color="{{ $color }}">
                <span aria-hidden="true" class="mkdf-icon-font-elegant icon_phone mkdf-icon-element"
                    style="color: {{ $color }}"></span></span>
        </div>
        <div class="mkdf-iwt-content" style="padding-left: 16px">
            <p class="mkdf-iwt-text" style="margin-top: 0px">+64 22 539 1515</p>
        </div>
    </a>
</div>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<div class="mkdf-iwt clearfix  mkdf-iwt-icon-left mkdf-iwt-icon-tiny mkdf-has-appear-animation">
    <a href="mailto:info@foodtraileronline.co.nz">
        <div class="mkdf-iwt-icon">
            <span class="mkdf-icon-shortcode mkdf-normal mkdf-icon-tiny" data-color="{{ $color }}">
                <span aria-hidden="true" class="mkdf-icon-font-elegant icon_mail_alt mkdf-icon-element" style="color: {{ $color }}"></span></span>
        </div>
        <div class="mkdf-iwt-content" style="padding-left: 16px">
            <p class="mkdf-iwt-text" style="margin-top: 0px">
                info@foodtraileronline.co.nz
            </p>
        </div>
    </a>
</div>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<div class="mkdf-iwt clearfix mkdf-iwt-icon-left mkdf-iwt-icon-tiny mkdf-has-appear-animation">
    <a href="https://www.instagram.com/foodtraileronline.nz/#" target="_blank" rel="noopener">
        <div class="mkdf-iwt-icon">
            <span class="mkdf-icon-shortcode mkdf-normal mkdf-icon-tiny" data-color="{{ $color }}">
                <span aria-hidden="true" class="mkdf-icon-font-elegant social_instagram mkdf-icon-element" style="color: {{ $color }}"></span>
            </span>
        </div>
        <div class="mkdf-iwt-content" style="padding-left: 16px">
            <p class="mkdf-iwt-text" style="margin-top: 0px">
                @foodtraileronline.nz
            </p>
        </div>
    </a>
</div>
<div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
<div class="mkdf-iwt clearfix mkdf-iwt-icon-left mkdf-iwt-icon-tiny mkdf-has-appear-animation">
    <a href="https://www.facebook.com/foodtraileronline" target="_blank" rel="noopener">
        <div class="mkdf-iwt-icon">
            <span class="mkdf-icon-shortcode mkdf-normal mkdf-icon-tiny" data-color="{{ $color }}">
                <span aria-hidden="true" class="mkdf-icon-font-elegant social_facebook mkdf-icon-element" style="color: {{ $color }}"></span>
            </span>
        </div>
        <div class="mkdf-iwt-content" style="padding-left: 16px">
            <p class="mkdf-iwt-text" style="margin-top: 0px">
                facebook.com/foodtraileronline
            </p>
        </div>
    </a>
</div>
